<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
<script src="http://cdn.demo.fabthemes.com/ajaxify/wp-content/themes/Ajaxify/js/html5.js" type="text/javascript"></script>
<![endif]-->

   <!-- <link rel="alternate" type="application/rss+xml" title="Ajaxify &raquo; Feed" href="http://demo.fabthemes.com/ajaxify/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Ajaxify &raquo; Comments Feed" href="http://demo.fabthemes.com/ajaxify/comments/feed/" />   -->
    <link rel='stylesheet' id='style-css' href='http://cdn.demo.fabthemes.com/ajaxify/wp-content/themes/Ajaxify/style.css?ver=3.6.1' type='text/css' media='all' />
    <link rel='stylesheet' id='grid-css' href='http://cdn.demo.fabthemes.com/ajaxify/wp-content/themes/Ajaxify/css/grid.css?ver=3.6.1' type='text/css' media='all' />
    <link rel='stylesheet' id='theme-css' href='http://cdn.demo.fabthemes.com/ajaxify/wp-content/themes/Ajaxify/css/theme.css?ver=3.6.1' type='text/css' media='all' />
    <link rel='stylesheet' id='cart66-css-css' href='http://cdn.demo.fabthemes.com/ajaxify/wp-content/plugins/cart66-lite/cart66.css?ver=1.5.1.15' type='text/css' media='all' />
    <script type='text/javascript' src='http://cdn.demo.fabthemes.com/ajaxify/wp-includes/js/jquery/jquery.js?ver=1.10.2'></script>
    <script type='text/javascript' src='http://cdn.demo.fabthemes.com/ajaxify/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
    
    <!--
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://demo.fabthemes.com/ajaxify/xmlrpc.php?rsd" /> -->
    
    
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://cdn.demo.fabthemes.com/ajaxify/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 3.6.1" />
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
