<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="peanut" type="Peanut.PeanutSection,Peanut"/>
  </configSections>
  <peanut>
    <Connection>
      <add name="0" type="Peanut.MSSQL,Peanut" connectionstring="Data Source=.;Initial Catalog=myspider;uid=sa;pwd=Password1"/>
    </Connection>
    <Assembly>
      <clear/>
      <add type="MySpider.DAL.Model"/>
    </Assembly>
  </peanut>
</configuration>

